@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor

<h2>Enter new doctor</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  
  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty)

  @Html.Label("Select Patient")
  @Html.DropDownList("PatientId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Doctors", "Index")</p>
