@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty

<h2>Enter new specialty</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  
  @Html.Label("Select Doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Specialties", "Index")</p>
