@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty

<h2>Specialty Details</h2>

<h4>Specialty:</h4>
<p><strong>@Html.DisplayNameFor(model => model.Name): </strong>@Html.DisplayFor(model => model.Name)</p>

@if (Model.JoinDoctorSpecialty.Count == 0)
{
  <p>This specialty hasn't been assigned any doctors.</p>
}
else
{
  <p><strong>Doctors:</strong></p>
  <ul>
    @foreach (var join in Model.JoinDoctorSpecialty)
    {
      <li>@join.Doctor.Name</li>
      <!-- Modal Button Trigger -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Delete Doctor
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Clicking delete will make this action final.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              @using (Html.BeginForm("DeleteDoctor", "Specialties"))
              {
                @Html.Hidden("joinId", @join.DoctorSpecialtyId)
                <input type="submit" value="Delete"  class="btn btn-danger"/>
              }
            </div>
          </div>
        </div>
      </div>
    }
  </ul>
}

<p>@Html.ActionLink("Edit Specialty", "Edit", new { id = Model.SpecialtyId })</p>
<p>@Html.ActionLink("Delete Specialty", "Delete", new { id = Model.SpecialtyId})</p>
<p>@Html.ActionLink("Add Doctor", "AddDoctor", new {id = Model.SpecialtyId})</p>