@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h2>Add a Doctor</h2>

<hr>

<h4>Add a Doctor to this Patient: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)

  @Html.Label("Select Doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" value="add" />
}

<p>@Html.ActionLink("Back to Patients", "Index")</p>