@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h2>Enter new patient</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  
  @Html.LabelFor(model => model.Birthday)
  @Html.TextBoxFor(model => model.Birthday, new {type="date"})

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Patients", "Index")</p>
