@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h2>Patient Details</h2>

<h4>Patient:</h4>
<p><strong>@Html.DisplayNameFor(model => model.Name): </strong>@Html.DisplayFor(model => model.Name)</p>
<p><strong>@Html.DisplayNameFor(model => model.Birthday): </strong>@Html.DisplayFor(model => model.Birthday)</p>

@if (Model.JoinEntities.Count == 0)
{
  <p>This patient hasn't been assigned any doctors.</p>
}
else
{
  <p><strong>Doctors:</strong></p>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Doctor.Name</li>
      @using (Html.BeginForm("DeleteDoctor", "Patients"))
      {
        @Html.Hidden("joinId", @join.DoctorPatientId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Patients", "Index")</p>
<p>@Html.ActionLink("Edit Patient", "Edit", new { id = Model.PatientId })</p>




